.infoFabButton {
    background: white;
    text-align: center;
    margin-right: .3em;
    margin-bottom: 6em;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #666666;
    font-weight: bold;
    text-decoration: none;
    border: solid #666666;
    float: right;
}