@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.logoContainer {
    display: flex;
    justify-content: flex-start;
}

.logo {
    max-width: 300px;
}

.aboutContainer {
    // border: 2px solid orange;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
}

.aboutContent {
    // border: 2px solid red;
    // width: 80%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 30px 0 30px;
}

.aboutParagraph, .authors {
    padding-left: 25px;
}

.authors {
    // border: 2px solid blue;
    font-size: 18px;
}

a:link {
    text-decoration: none;
}
