.placeholderContainer {
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.placeholder {
    position: fixed;
    top: 0;
    width: 100vw;
    max-width: 500px;
}

.copyConfirmation {
    box-shadow: 3px 19px 46px;
    height: 20px;
    width: 56px;
    float: right;
    margin-left: 78%;
    padding: 5px;
    // margin: 0;
    bottom: 70px;
    justify-content: end;
    position: fixed;
    // border: 2px solid red;
    background: #cfffcf;
}