body {
  // margin: 0;
  overflow: auto; /* Hide scrollbars */
  // padding: 2em;
  // background: #333;
  font-family: sans-serif;
}

button {
  background: #999;
  color: #fff;
  border: none;
  padding: 0.5em;
  cursor: pointer;
  margin-bottom: 1em;
  margin-right: 1em;
  border-radius: 0.2em;
}

button:hover {
  background: #888;
}

pre {
  border: 1px solid #ccc;
  background: #f0f0f0;
  border-radius: 0.2em;
  padding: 0.5em;
  margin: 0;
}

pre > pre {
  background: none;
  border: none;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

// This fixes the placeholder being on top of the cursor issue
.public-DraftEditorPlaceholder-root {
  margin-top: 20vw;
  // color: var(fbui-desktop-text-placeholder);
  color: #666666;
  font-size: xx-large;
  position: absolute;
  z-index: 0;
  // border: 2px solid red;
  margin-left: 20px;
  vertical-align: center;
  // width: 100%;
}

.public-DraftEditor-content {
  width: 100vw;
  height: 90vh;
  // border: 2px solid green;
}

.DraftEditor-root {
  width: 100vw;
  height: 90vh;
  //border: 2px solid blue;
}